RewriteEngine on
RewriteBase /

# http to https
RewriteCond %{ENV:HTTPS} !on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L]

# www.domain to domain
RewriteCond %{HTTP_HOST} ^www\.server\.com$
RewriteRule ^(.*)$ https://server.com/$1 [R=301,L]

# secure query string
RewriteCond %{REQUEST_URI} ^/.{64}$
RewriteRule ^(.*)$ /?$1 [L]
